*{
    padding: 0;
    margin: 0;
}
i {
    color: white; 
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    opacity: 0.75;
}

.nav-container {
background-color: #000247;
display: flex;
}
/* .navbar-utility a {
    
} */
.nav-link {
    color: 003257;
}
.nav-link:hover {
    color: white;
}

