*{
    padding: 0;
    /* margin: 0; */
    list-style: none;
    text-decoration: none;
}

i {
    color: #7A7EDE;
}

.logo-text{
    color: white;
}

.navbar {
    margin: 0;
    width: 5rem;
    height: 100vh;
    position: fixed;
    background-color: #000247;
}
.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.nav-item {
    margin: ;
    width: 100%;
}
.navbar-nav:last-child{
    margin-top: auto;
}

.nav-link {
    display: flex;
    color: white;
    align-items: center;

}



